<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <body>
        <table class="table table-striped text-center mt-5">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Language</th>
                    <th>Skill</th>
                </tr>
            </thead>
            <tbody>
                <% skills.forEach(function(skill) { %>
                <tr>
                    <td><a href="/skills/<%= skill.id %>"><%= skill.id %></a></td>
                    <td><%= skill.name %></td>
                    <td><%= skill.level %></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    <a href="/skills/new"><button class="btn btn-danger" style="width: 90vw;">Add More skills</button></a> 
    </body>
</html>